* {
  box-sizing: border-box;
}

.main {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  font-weight: 100;
}


.code {
  flex-grow: 1;
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

.code-original,
.code-modified {
  flex-grow: 1;
}

.code h2 {
  background: #39689d;
  color: #c8d6ff;
  font-size: 18px;
  padding: .825em;
  margin-bottom: 0;
  position: sticky;
  top: 0;
}

.code-modified h2 {
  background: #399d7d;
}

.code h2 a {
  border: 1px solid #fff;
  border-radius:3px;
  padding: .4em .75em;
  font-size: .75em;
  position: absolute;
  top: 50%;
  right: .75rem;
  transform: translateY(-50%);
  color: #fff;
  opacity: .6;
}

.code h2 a:hover {
  background: #fff;
  color: #555;
  text-decoration: none;
  opacity: 1;
}

.settings {
  z-index: 1;
  background: #fff;
  max-height: 100vh;
  overflow: auto;
  color: #555;
  padding: 1.5em 1.5em 2em 1.5em;
  width: 300px;
  position: relative;
}

.settings form {
  display: block;
  padding-top: 2rem;
}


#usergcode,
#modifiedgcode {
  background: #3e444c;
  background-size: 100% 32px;
  border: none;
  color: #fff;
  font-family: monospace, sans-serif;
  padding: 1em;
  outline: none;
  width: 100%;
  min-height: calc(100vh - 51px);
  white-space: pre;
}

#modifiedgcode {
  background: #3e494c;
}

.error {
  background: #ffdfdf;
  color: #af0000;
  padding: 1em;
  margin: 0.5em 0;
}

.warn {
  background: #fffadf;
  color: #c57553;
  padding: 1em;
  margin: 0.5em 0;
}

.success {
  background: #dfffee;
  color: #239831;
  padding: 1em;
  margin: 0.5em 0;
}

#loader-wrap {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - 300px);
  height: 100vh;
  background: rgb(62 68 77 / 86%);
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  } 

  @media screen and (max-width: 900px) {
    .settings {
      max-height: auto;
    }

    .main {
      flex-direction: column;
    }

    #loader-wrap {
      width: 100vw;
      z-index: 1;
    }
  }

  .that-wow-factor {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background:url(grain.svg);
    background-size: 100px;
    pointer-events: none;
    pointer-events: none;
    top: 0;
    left: 0;
    mix-blend-mode: overlay;
    opacity: .3;
  }

  .even-more-wow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    pointer-events: none;
    top: 0;
    left: 0;
    background: radial-gradient(at left bottom, #09407ec4, #34ffe91f);
    mix-blend-mode: lighten;
  }

  #copy {
    display: none;
  }

  #probz {
    position: fixed;
    bottom: 0;
    width: 300px;
    left: 0;
    padding: 1em;
    text-align: center;
    background: #fff;
    font-size: 12px;
  }